* {
  box-sizing: border-box;
}

html {
  font-family: 'Bitter', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #B5362D;
}

.container {
  margin: 0 auto;
}

.header-image {
  display: block;
  height: 250px;
  background-image: url('header-bg.jpg');
  background-size: cover;
  background-position-y: 35%;
}

.header-container {
  position: relative;
  width: 100%;
}

.header-banner {
  padding: 10px 20px;
  width: 100%;
  background-color: #B5362D;
}

.header-logo {
  position: absolute;
  top: -35px;
  left: 25px;
}

.header-logo img {
  width: 174px;
  height: 174px;
}

.header-info {
  margin-left: 200px;
}

.header-title h1 {
  font-family: 'Bitter', serif;
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.header-subtitles {
  max-width: 700px;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-subtitle {
  font-family: 'Bitter', serif;
  font-size: 16px;
  color: #fff;
}

.header-subtitle a {
  color: #fff;
}

.page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  padding-top: 60px;
  margin-bottom: 50px;
}

.page-sidebar {
  width: 300px;
  padding: 0px 0px 20px 25px;
}

.page-content {
  max-width: 700px;
  padding: 0px 25px 20px 25px;
}

.page-sidebar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.page-sidebar ul li {
  margin: 5px 0px;
}

.page-sidebar a {
  font-family: 'Bitter', serif;
  font-size: 18px;
  color: #B5362D;
  text-decoration: none;
}

.content-title {
  margin: 0px;
}

.opening-hours {
  margin-top: 40px;
}

.opening-hours li {
  color: #8F8F8F;
  font-size: 14px;
}

.opening-hours li.oh-header {
  color: #000;
  margin-top: 14px;
  font-size: 16px;
}

.find-us-on {
  margin-top: 40px;
}

.find-us-on .tripadvisor-badge {
  margin-bottom: 10px;
}

.signature {
  font-size: 26px;
  font-family: 'Dancing Script', cursive;
}

@media (max-width: 760px) {
  .header-image {
    height: 180px;
  }

  .header-info {
    margin-left: 140px;
  }

  .header-logo {
    left: 15px;
    top: -10px;
  }

  .header-logo img {
    width: 115px;
    height: 115px;
  }

  .header-title h1 {
    font-size: 24px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .page-container {
    padding-top: 30px;
  }
}

@media(min-width: 636px) {
  .show-mobile {
    display: none;
  }
}

@media (max-width: 636px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }

  .page-sidebar {
    margin: 0 auto;
  }

  .page-sidebar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .hide-mobile {
    display: none;
  }

  .call-now {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .call-now a {
    color: #B5362D;
  }

  .footer-mobile {
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #B5362D;
    color: #fff;
    padding: 10px;
  }

  .footer-contact {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }

  .footer-mobile a {
    color: #fff;
  }
}
